@import url('https://fonts.googleapis.com/css?family=Chakra Petch');
@import url('https://fonts.googleapis.com/css?family=Bungee Shade');

:root {
    --blue: #30b3a9;
    --red: #9c1c17;
    --background: #001122;
    --white: #ffffff;
  }

html {
    font-family:'Chakra Petch';
    color: var(--white);
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;

} 

body::before,
body::after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	z-index: -10;
	mix-blend-mode:color-burn;
}

body::before {
    background:var(--background) url("./assets/layered-peaks-haikei.svg") center no-repeat;
    background-size: cover;
	filter: url("#noiseFilter");
}

body::after {
	background: url("./assets/layered-peaks-haikei.svg") center no-repeat;
	background-size: cover;
    filter: lighten;

}

a, a:visited {
    text-decoration: none;
}

.main-grid {
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.right-side {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0% 5% 0% 10%;
    /* border-right: 1px solid black; */
}

#profile-picture {
    margin: auto;
    width: 90%;
    border: 4px solid var(--white);
    box-shadow: 5px 5px 5px var(--red);
    border-radius: 50%;
}

.socials-list {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.social {
    margin: 20px 10px;
    border: 2px solid var(--white);
    box-shadow: 3px 3px 3px var(--red);
    border-radius: 50%;
    height: 48px;
    width: 48px; 
}

.social:hover {
    transform: translate(2px, 2px);
    box-shadow: none;
}

.social > img {
    height: 48px;
    width: 48px;    
}

.left-side {
    flex-basis: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0% 10% 0% 5%;
}

h1 {
    margin: auto auto 0 0%;
    font-size: 4em;
    text-shadow: 3px 3px 3px var(--red);
}

h2 {
    margin: auto 0 0 0;
    text-shadow: 3px 3px 3px var(--red);
}

p {
    margin-top: 5px;
    margin-left: 5px;
}

.project-list {
    margin: 5px 0 auto 5px;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    border-radius: 10px;
    box-shadow: 7px 3px 7px var(--red);
}


.project {
    display: flex;
    height: 100%;
    width: calc(100% - 40px);
    margin: 0px auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-position: center center;
    background-size: cover;
    border: 2px solid var(--white);
    border-radius: 10px;
}

.project:not(:first-child) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 1px solid var(--white);;
}
.project:not(:last-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid var(--white);;
}

.online:hover {
    box-shadow: 5px 5px 7px var(--blue);
}

.offline:hover, .coming-soon:hover {
    background-image: url('./assets/project-banners/offline.svg') !important;
    color: var(--background);
}
.offline:hover:before {
    content: "currently offline"
}

.coming-soon:hover:before {
    content: "coming soon"
}



.offline {

}